v7.3Files/extlib/mman-win32/x64
v7.3Files/extlib/mman-win32/mman.VC.db
v7.3Files/extlib/zlib/contrib
v7.3Files/cmake-build-release/
v7.3Files/cmake-build-debug/
v7.3Files/mexbuild/buildmingw/*
v7.3Files/mexbuild/build/*
!*build_script.bat
!*rebuild.bat
.vs
*.mexw64
*.mexw32
*.mexa64
*.mexa32
*.idea
*res/
*.pdb
optData_ESTrade.mat

*ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/